/* Universal Code */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Root - Color Variables */
:root {}

/* Header */
.container-header {
    display: flex;
    border: 5px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    background-color: white;
    justify-content: space-between;

}

header {
    background-color: white;
}

.fullname {
    font-size: 75px;
    font-weight: bolder;
    padding: 10px;
    background-color: white;
}

.subtitle {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    background-color: white;
}

/* Professional Headshot */
#headshot {
    width: 250px;
    border-radius: 75%;
    border: 5px solid red;
    float: right;
}

/* Navigation Bar */

.navbar {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

/* Navagation Options */
nav a {
    color: black;
    font-weight: bolder;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

/* Hovering response for navigation options */
nav a:hover {
    background-color: red;
    color: white;
    font-weight: bolder;
}

body {
    padding: 40px;
    background-color: black;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#leftside {
    display: flex;
    flex-wrap: wrap;
}

/* Section Header */
.container-section-header {
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

/* About Me Section */
.about-me-details {
    flex: 1 1 0;
    text-align: justify;
    background-color: white;
    padding: 25px
}

/* Work Section */
.container-section-work {
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.work-details {
    display: flex;
    background-color: white;
    padding: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/* largest image on left side */
#large-img {
    width: 500px;
    height: 600px;
    display: flex;
    padding: 5px;
}
#large-img:hover {
    width: 500px;
    height: 600px;
    display: flex;
    padding: 5px;
    text-align: center;
    padding-top: 0px;
    overflow: hidden;
    opacity: 15%; 
    
    
}

#small-img {
    display: flex;
    width: 350px;
    height: 250px;
    padding: 10px;
    position: rel
}


/* Contact Me Section */
.contact-me-details ul {
    display: flex;
    padding: 25px;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.divider {
    border: 2px solid red;
    width: 90%;
}

#button {
    color: black;
    font-weight: bolder;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
  }

  #button:hover {
    background-color: red;
    color: white;
    font-weight: bolder;
  }