/* Universal Code */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Root - Color Variables */
:root {}

/* Header */
.container-header {
    display: flex;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    background-color: white;
    justify-content: space-between;

}

header {
    background-color: white;
}

.fullname {
    font-size: 75px;
    font-weight: bolder;
    padding: 10px;
    background-color: white;
}

.subtitle {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    background-color: white;
}

/* Professional Headshot */
#headshot{
    width: 250px;
    border-radius: 75%;
    float: right;
}

/* Navigation Bar */

.navbar {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

/* Navagation Options */
nav a {
    color: black;
    font-weight: bolder;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

/* Hovering response for navigation options */
nav a:hover {
    background-color: red;
    color: white;
    font-weight: bolder;
}

body {
    padding: 40px;
    background-color: black;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container-section-header{
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.about-me-details{
    flex: 1 1 0;
    text-align: justify;
    background-color: white;
    padding: 25px
}

#aboutme {
    display: flex;
    flex-wrap: wrap;

}

.container-section-work{
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.work-details{
    flex: 1 1 0;
    text-align: justify;
    background-color: white;
    padding: 25px
}

#PortfolioDesign {
}

.divider{
    border: 2px solid red;
    width: 90%;
}