/* Universal Selector */
* {
    font-family: "Geneva", 'Times New Roman', "sans serif";
}

header {
    background-color: #13293d;
}

.selfie {
    display: flex:
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: left;
    color: #fff;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    /* remove color and fix alignment + f*/
    background-color: red;
}

#subtitle {
    /* fix alignment */
    font-style: oblique;
    text-align: left;
    color: white;
}

img {
    background: #eaeaed;
    border: 1px solid #9799a7;
    margin: 8px 0 0 20px;
    padding: 4px;
    border-radius: 75%;
    float: right;
    flex:end;
 }

/* fix alignment */
nav {
        display: flex;
    background-color: #13293d;

}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

.right {
    /* remove color & fix alignment + flex?*/
    background-color: aqua;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    background: #13293d;
    margin-top: auto;
}


@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }
}