/* Universal Selector */
* {
    font-family: "Geneva", 'Times New Roman', "sans serif";
    background-color: #13293d;
}

header {

}
    

img {
    background-color: #eaeaed;
    border: 1px solid #9799a7;
    margin: 8px 0 0 20px;
    padding: 4px;
    border-radius: 75%;
    float: right;
}

#subtitle {
    /* fix alignment */
    font-style: oblique;
    text-align: left;
    color: white;
}

/* Navigation - fix alignment*/
nav {
    display: flex;
    background-color: #13293d;

}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: left;
    color: #fff;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    /* remove color and fix alignment + f*/
    background-color: red;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}


.right {
    /* remove color & fix alignment + flex?*/
    background-color: #eaeaed;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    background: #13293d;
    margin-top: auto;
}


@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }
}